In [1]:
import pandas as pd

In [2]:
import os

In [3]:
savepath = "/home/bassem/data"
    filename = "tagposf.csv"
    fullname = os.path.join(savepath,filename)
    df1 = pd.read_csv(fullname)
    print(df1.head(5))

IndentationError: unexpected indent (2406574166.py, line 2)

In [9]:
savepath = "/home/bassem/data"

In [10]:
filename = "tagposf.csv"

In [11]:
fullname = os.path.join(savepath,filename)

In [12]:
df1 = pd.read_csv(fullname)

In [14]:
df1.to_csv(fullname,header=["seq","sec","nsec","X","Y","Z"],index=False)

In [15]:
filename2= "rangingf.csv"

In [16]:
filename2

'rangingf.csv'

In [17]:
fname2= os.path.join(savepath,filename2)

In [18]:
fname2

'/home/bassem/data/rangingf.csv'

In [19]:
df2 = pd.read_csv(fname2)

In [24]:
df2.head(5)
df2.to_csv(fname2,header=["seq","anchorId","range","rssi","sec","nsec"],index=False)

In [26]:
df2 = pd.read_csv(fname2)
df2.head(5)

   seq  anchorId  range       rssi  sec       nsec
0   79         1   2009 -87.845050  142  668000000
1   79         3   4987 -88.825727  142  679000000
2   80         0   5612 -88.831574  142  759000000
3   80         1   1999 -88.306483  142  763000000
4   80         3   4998 -88.561807  142  764000000

In [23]:
filename3= "ranging1.csv"

In [24]:
fname2= os.path.join(savepath,filename2)

In [21]:
df2.to_csv(fname2,header=["seq","achnordid","range","rssi"],index=False)

ValueError: Writing 5 cols but got 4 aliases

In [25]:
df2 = pd.read_csv(fname2)

EmptyDataError: No columns to parse from file

In [27]:
df2.head(5)

   seq  anchorId  range       rssi  sec       nsec
0   79         1   2009 -87.845050  142  668000000
1   79         3   4987 -88.825727  142  679000000
2   80         0   5612 -88.831574  142  759000000
3   80         1   1999 -88.306483  142  763000000
4   80         3   4998 -88.561807  142  764000000

In [19]:
df2.drop(0,1)

/tmp/ipykernel_4165/439274912.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2.drop(0,1)

KeyError: '[0] not found in axis'

In [9]:
df1.to_csv(fullname,header=["seq","secs","nsecs","X","Y","Z"],index=False)

In [10]:
df1.head(5)

   217  8  719000000  0.3991007562102942  4.312111524545469  1.677773486993278
0  218  8  758000000            0.399101           4.332112           1.677381
1  219  8  799000000            0.399097           4.352096           1.677088
2  220  8  839000000            0.399095           4.371867           1.679612
3  221  8  879000000            0.399146           4.391776           1.680245
4  222  8  919000000            0.399146           4.411776           1.679853

In [11]:
df1 = pd.read_csv(fullname)

In [12]:
df1.head(5)

   seq  secs      nsecs         X         Y         Z
0  218     8  758000000  0.399101  4.332112  1.677381
1  219     8  799000000  0.399097  4.352096  1.677088
2  220     8  839000000  0.399095  4.371867  1.679612
3  221     8  879000000  0.399146  4.391776  1.680245
4  222     8  919000000  0.399146  4.411776  1.679853

In [19]:
df2.to_csv(fname2,header=["seq","anchorid","distance","rssi","secs","nsecs"],index=False)

In [20]:
df2 = pd.read_csv(fname2)

In [28]:
df2.head(5)

   seq  anchorId  range       rssi  sec       nsec
0   79         1   2009 -87.845050  142  668000000
1   79         3   4987 -88.825727  142  679000000
2   80         0   5612 -88.831574  142  759000000
3   80         1   1999 -88.306483  142  763000000
4   80         3   4998 -88.561807  142  764000000

In [33]:
import copy
df1 = pd.read_csv(fullname)
frame1 = copy.deepcopy(df1)
frame2 = copy.deepcopy(df2)

In [37]:
frame1.head(5)
l=[]
for ind in frame1.index :
    reel = float(str(frame1["sec"][ind])+"."+str(frame1["nsec"][ind]).zfill(9)) 
    rounded = round(reel,1)
    l.append(rounded)
frame1["timestamp"]=l

frame1.head(5)

    seq  sec       nsec         X         Y         Z  timestamp
0  1104  142  759000000  4.409887  5.438117  1.771298      142.8
1  1105  142  859000000  4.423119  5.441662  1.770800      142.9
2  1106  142  959000000  4.437321  5.445468  1.770300      143.0
3  1107  143   59000000  4.452115  5.449432  1.769799      143.1
4  1108  143  159000000  4.467267  5.453492  1.769297      143.2

In [42]:
l=[]
for ind in frame2.index :
    reel = float(str(frame2["sec"][ind])+"."+str(frame2["nsec"][ind]).zfill(9)) 
    rounded = round(reel,1)
    l.append(rounded)
len(l)
frame2["timestamp"]=l
frame2.head(5)

   seq  anchorId  range       rssi  sec       nsec  timestamp
0   79         1   2009 -87.845050  142  668000000      142.7
1   79         3   4987 -88.825727  142  679000000      142.7
2   80         0   5612 -88.831574  142  759000000      142.8
3   80         1   1999 -88.306483  142  763000000      142.8
4   80         3   4998 -88.561807  142  764000000      142.8

In [44]:
f=frame1.merge(frame2,on='timestamp',how = 'outer')
f.head(60)

,seq_x,sec_x,nsec_x,X,Y,Z,timestamp,seq_y,anchorId,range,rssi,sec_y,nsec_y
0,1104.0,142.0,759000000.0,4.409887,5.438117,1.771298,142.8,80,0,5612,-88.831574,142,759000000
1,1104.0,142.0,759000000.0,4.409887,5.438117,1.771298,142.8,80,1,1999,-88.306483,142,763000000
2,1104.0,142.0,759000000.0,4.409887,5.438117,1.771298,142.8,80,3,4998,-88.561807,142,764000000
3,1105.0,142.0,859000000.0,4.423119,5.441662,1.770800,142.9,81,0,5609,-87.898033,142,860000000
4,1105.0,142.0,859000000.0,4.423119,5.441662,1.770800,142.9,81,1,2028,-88.104694,142,871000000
5,1105.0,142.0,859000000.0,4.423119,5.441662,1.770800,142.9,81,3,4959,-88.257662,142,873000000
6,1106.0,142.0,959000000.0,4.437321,5.445468,1.770300,143.0,82,0,5623,-89.200921,142,960000000
7,1106.0,142.0,959000000.0,4.437321,5.445468,1.770300,143.0,82,1,2007,-88.187860,142,970000000
8,1106.0,142.0,959000000.0,4.437321,5.445468,1.770300,143.0,82,3,5012,-88.450600,142,974000000
9,1107.0,143.0,59000000.0,4.452115,5.449432,1.769799,143.1,83,0,5658,-88.513053,143,60000000
10,1107.0,143.0,59000000.0,4.452115,5.449432,1.769799,143.1,83,1,2006,-87.801128,143,64000000
11,1107.0,143.0,59000000.0,4.452115,5.449432,1.769799,143.1,83,3,4958,-87.851020,143,74000000
12,1108.0,143.0,159000000.0,4.467267,5.453492,1.769297,143.2,84,0,5601,-88.788109,143,160000000
13,1108.0,143.0,159000000.0,4.467267,5.453492,1.769297,143.2,84,1,1991,-87.872480,143,168000000
14,1108.0,143.0,159000000.0,4.467267,5.453492,1.769297,143.2,84,3,5014,-88.154788,143,170000000
15,1109.0,143.0,259000000.0,4.482638,5.457610,1.768795,143.3,85,0,5588,-88.131163,143,260000000
16,1109.0,143.0,259000000.0,4.482638,5.457610,1.768795,143.3,85,1,1979,-87.597468,143,270000000
17,1109.0,143.0,259000000.0,4.482638,5.457610,1.768795,143.3,85,3,5004,-87.820487,143,273000000
18,1110.0,143.0,359000000.0,4.498141,5.461764,1.768292,143.4,86,0,5602,-88.363553,143,360000000
19,1110.0,143.0,359000000.0,4.498141,5.461764,1.768292,143.4,86,1,2005,-87.353930,143,363000000
20,1110.0,143.0,359000000.0,4.498141,5.461764,1.768292,143.4,86,3,5029,-87.521300,143,374000000
21,1111.0,143.0,459000000.0,4.513726,5.465940,1.767790,143.5,87,0,5603,-89.361701,143,460000000
22,1111.0,143.0,459000000.0,4.513726,5.465940,1.767790,143.5,87,1,2010,-87.526469,143,463000000
23,1111.0,143.0,459000000.0,4.513726,5.465940,1.767790,143.5,87,3,5045,-88.167119,143,466000000
24,1112.0,143.0,559000000.0,4.529359,5.470129,1.767287,143.6,88,0,5600,-88.784995,143,560000000
25,1112.0,143.0,559000000.0,4.529359,5.470129,1.767287,143.6,88,1,2022,-88.733517,143,574000000
26,1112.0,143.0,559000000.0,4.529359,5.470129,1.767287,143.6,88,3,5046,-88.362500,143,579000000
27,1113.0,143.0,659000000.0,4.545023,5.474326,1.766784,143.7,89,0,5601,-88.134087,143,660000000
28,1113.0,143.0,659000000.0,4.545023,5.474326,1.766784,143.7,89,1,1964,-87.999530,143,676000000
29,1113.0,143.0,659000000.0,4.545023,5.474326,1.766784,143.7,89,3,5184,-89.015674,143,680000000
30,1114.0,143.0,757000000.0,4.560704,5.478528,1.766281,143.8,90,0,5634,-88.119893,143,760000000
31,1114.0,143.0,757000000.0,4.560704,5.478528,1.766281,143.8,90,1,1995,-87.986831,143,764000000
32,1114.0,143.0,757000000.0,4.560704,5.478528,1.766281,143.8,90,3,5155,-88.546784,143,774000000
33,1115.0,143.0,859000000.0,4.576397,5.482733,1.765777,143.9,91,0,5564,-89.012370,143,859000000
34,1115.0,143.0,859000000.0,4.576397,5.482733,1.765777,143.9,91,1,1997,-88.851216,143,866000000
35,1115.0,143.0,859000000.0,4.576397,5.482733,1.765777,143.9,91,3,5169,-88.262334,143,877000000
36,1116.0,143.0,959000000.0,4.592096,5.486940,1.765274,144.0,92,0,5614,-88.548686,143,960000000
37,1116.0,143.0,959000000.0,4.592096,5.486940,1.765274,144.0,92,1,2004,-87.763499,143,961000000
38,1116.0,143.0,959000000.0,4.592096,5.486940,1.765274,144.0,92,3,5211,-87.708933,143,973000000
39,1117.0,144.0,59000000.0,4.607800,5.491147,1.764771,144.1,93,0,5630,-88.634173,144,60000000
40,1117.0,144.0,59000000.0,4.607800,5.491147,1.764771,144.1,93,1,1949,-88.061235,144,63000000
41,1117.0,144.0,59000000.0,4.607800,5.491147,1.764771,144.1,93,3,5257,-88.142102,144,66000000
42,1118.0,144.0,159000000.0,4.623506,5.495356,1.764268,144.2,94,0,5627,-88.515343,144,160000000
43,1118.0,144.0,159000000.0,4.623506,5.495356,1.764268,144.2,94,1,1973,-88.199694,144,168000000
44,1118.0,144.0,159000000.0,4.623506,5.495356,1.764268,144.2,94,3,5223,-88.792963,144,175000000
45,1119.0,144.0,259000000.0,4.639213,5.499564,1.763765,144.3,95,0,5634,-88.562757,144,260000000
46,1119.0,144.0,259000000.0,4.639213,5.499564,1.763765,144.3,95,1,1991,-87.549392,144,262000000
47,1119.0,144.0,259000000.0,4.639213,5.499564,1.763765,144.3,95,3,5091,-88.655715,144,275000000
48,1120.0,144.0,359000000.0,4.654922,5.503774,1.763262,144.4,96,0,5641,-87.995851,144,360000000
49,1120.0,144.0,359000000.0,4.654922,5.503774,1.763262,144.4,96,1,1997,-88.787171,144,362000000
50,1120.0,144.0,359000000.0,4.654922,5.503774,1.763262,144.4,96,3,5095,-87.813126,144,372000000
51,1121.0,144.0,459000000.0,4.670631,5.507983,1.762759,144.5,97,0,5604,-88.757418,144,460000000
52,1121.0,144.0,459000000.0,4.670631,5.507983,1.762759,144.5,97,1,1970,-88.779340,144,467000000
53,1121.0,144.0,459000000.0,4.670631,5.507983,1.762759,144.5,97,3,5132,-88.439171,144,470000000
54,1122.0,144.0,559000000.0,4.686340,5.512192,1.762256,144.6,98,0,5487,-88.257219,144,559000000
55,1122.0,144.0,559000000.0,4.686340,5.512192,1.762256,144.6,98,1,1965,-88.182579,144,569000000
56,1122.0,144.0,559000000.0,4.686340,5.512192,1.762256,144.6,98,3,5153,-88.275565,144,584000000
57,1123.0,144.0,659000000.0,4.702049,5.516401,1.761753,144.7,99,0,5469,-88.192372,144,660000000
58,1123.0,144.0,659000000.0,4.702049,5.516401,1.761753,144.7,99,1,1938,-88.608512,144,663000000
59,1123.0,144.0,659000000.0,4.702049,5.516401,1.761753,144.7,99,3,5143,-88.163018,144,665000000

In [45]:
a = f[f["anchorId"]==0]
b = f[f["anchorId"]==1]
c = f[f["anchorId"]==2]
d = f[f["anchorId"]==3]

In [47]:
at= a[["timestamp","range"]]
bt=b[["timestamp","range"]]
ct=c[["timestamp","range"]]
dt=d[["timestamp","range"]]
dt[dt["timestamp"]==12.5]
atr=at.rename(columns={"range":"anch0"},inplace=False)
btr=bt.rename(columns={"range":"anch1"},inplace=False)
ctr=ct.rename(columns={"range":"anch2"},inplace=False)
dtr=dt.rename(columns={"range":"anch3"},inplace=False)
at.head()

    timestamp  range
0       142.8   5612
3       142.9   5609
6       143.0   5623
9       143.1   5658
12      143.2   5601

In [59]:
final = frame1.merge(atr,on="timestamp",how='outer').merge(btr,on="timestamp",how='outer').merge(ctr,on="timestamp",how='outer').merge(dtr,on="timestamp",how='outer')
final1 = pd.concat([frame1,atr,btr,ctr,dtr],axis=1,join="outer")
data = "database.csv"
path = os.path.join(savepath,data)
final[["X","Y","timestamp","anch0","anch1","anch2","anch3"]].to_csv(path,index = False)